{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">

<div class="form-container">

    <h1 class="page-title">Criar Evento</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-card">
            <label class="form-label">Imagem do Evento</label>
            <div class="image-upload-area">
                {{ form.imagem }}
                <p>Clique para adicionar uma imagem<br><span>PNG, JPG ou GIF (max. 10MB)</span></p>
            </div>
        </div>

        <div class="form-card">
            <label class="form-label">Título do Evento</label>
            {{ form.titulo }}
        </div>

        <div class="form-card">
            <label class="form-label">Descrição</label>
            {{ form.descricao }}
        </div>

       <div class="two-columns">
            <div class="form-card">
                <label class="form-label">Início</label>
                {{ form.data_hora_inicio }}
            </div>
            <div class="form-card">
                <label class="form-label">Fim</label>
                {{ form.data_hora_fim }}
            </div>
        </div>

        <div class="form-card">
            <label class="form-label">Local</label>
            <div class="input-group">
                {{ form.local }}
                <button type="button" class="btn-add" onclick="abrirModalLocal()" title="Adicionar novo local">
                    +
                </button>
            </div>
        </div>

        <div class="form-card">
            <div class="label-with-action">
                <label class="form-label">Categorias</label>
                <a href="{% url 'create_categoria' %}" class="btn-add-small" title="Nova categoria" target="_blank">
                    + Nova
                </a>
            </div>
            
            <div class="category-container">
                {% for cat in form.categorias %}
                    <label class="category-chip">
                        {{ cat.tag }} <span>{{ cat.choice_label }}</span> </label>
                {% endfor %}
            </div>
        </div>

        <div class="actions">
            <button type="submit" class="btn-primary">Salvar</button>
            <a href="{% url 'home' %}" class="btn-secondary">Cancelar</a>
        </div>

    </form>
</div>
{% include 'includes/modal_local.html' %}
{% endblock %}
