{% extends 'base.html' %}
    {% load static %}

<section class="categories">

        {% block title %}Início - PinArt{% endblock %}


        {% block content %}
        <section class="hero">
            <h1>Descubra Eventos Incríveis</h1>
            <p>Conecte-se com experiências que você ama</p>
            <div class="search-box">
            <form method="get" action="{% url 'home' %}"> <input type="text" name="q" 
                    value="{{ request.GET.q|default:'' }}" 
                    placeholder="Buscar eventos, locais, categorias...">
                
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                    <i class="fa-solid fa-magnifying-glass" style="color: #7a1fff;"></i>
                </button>
            </form>
</div>
        </section>


        <section class="categories">
            <h2>
                <i class="fa-solid fa-arrow-trend-up" style="color: #8b5cf6;"></i> 
                Categorias
            </h2>
            
            <div class="category-list">
                <a href="?categoria=" class="{% if not categoria_selecionada %}active{% endif %}">Todos</a>
                {% for cat in categorias %}
                    <a href="?categoria={{ cat.id }}" class="{% if categoria_selecionada|stringformat:"s" == cat.id|stringformat:"s" %}active{% endif %}">
                        {{ cat.nome }}
                    </a>
                {% endfor %}
            </div>
        </section>


        <section class="popular-events">
            <h2>Eventos</h2>

            <div class="events-container">
                {% for event in eventos %}
                    <a href="{% url 'detalhe_evento' event.id %}" class="event-card">
                        
                        <div class="image-wrapper">
                            {% if event.imagem %}
                                <img src="{{ event.imagem.url }}" class="event-image" alt="{{ event.titulo }}">
                            {% else %}
                                <img src="{% static 'img/evento.png' %}" class="event-image" alt="Imagem padrão">
                            {% endif %}
                        </div>

                        <div class="content">
                            <div class="tags-container">
                                {% for cat in event.categorias.all %}
                                    <span class="tag">{{ cat.nome }}</span>
                                {% endfor %}
                            </div>
                            
                            <h3>{{ event.titulo }}</h3>
                            
                            <div class="info-row">
                                <p class="date"><i class="fa-regular fa-calendar"></i> {{ event.data_hora_inicio|date:'d/m/Y H:i' }}</p>
                                <p class="location"><i class="fa-solid fa-location-dot"></i> {{ event.local.nome }}</p>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>Nenhum evento encontrado.</p>
                {% endfor %}
            </div>
        </section>

        {% if inscricao_pendente %}
            <div class="modal fade" id="modalConfirmacao" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Olá, {{ request.user.first_name }}!</h5>
                        </div>
                        <div class="modal-body">
                            {% if inscricao_pendente.evento.imagem %}
                            <img src="{{ inscricao_pendente.evento.imagem.url }}" alt="Foto do evento" class="modal-img">
                            {% endif %}
                            <p>Notamos que o evento <strong>{{ inscricao_pendente.evento.titulo }}</strong> já aconteceu.</p>
                            <p>Você compareceu ao evento?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="responderPresenca('{{ inscricao_pendente.id }}', true)">Sim, eu fui!</button>
                            <button type="button" class="btn btn-secondary" onclick="responderPresenca('{{ inscricao_pendente.id }}', false)">Não fui</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var myModal = new bootstrap.Modal(document.getElementById('modalConfirmacao'));
                    myModal.show();
                });

                function responderPresenca(idInscricao, confirmou) {
                    console.log("Clicou! ID:", idInscricao, "Confirmou:", confirmou);
                    const url = "{% url 'confirmar_participacao' 0 %}".replace('0', idInscricao);
                    
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ 'confirmou': confirmou })
                    })
                    .then(response => {
                        if (response.ok) {
                            var modalElement = document.getElementById('modalConfirmacao');
                            var modalInstance = bootstrap.Modal.getInstance(modalElement);
                            modalInstance.hide();

                        }
                    })
                    .catch(error => console.error('Erro:', error));
                }
            </script>
            {% endif %}
{% endblock %}