{% extends 'base.html' %}
    {% load static %}

<section class="categories">

        {% block title %}Início - PinArt{% endblock %}


        {% block content %}
        <section class="hero">
            <h1>Descubra Eventos Incríveis</h1>
            <p>Conecte-se com experiências que você ama</p>
            <div class="search-box">
                <form method="get">
                    <input type="text" name="q" placeholder="Buscar eventos, locais, categorias...">
                </form>
            </div>
        </section>


        <section class="categories">
            <h2>
                <i class="fa-solid fa-arrow-trend-up" style="color: #8b5cf6;"></i> 
                Categorias
            </h2>
            
            <div class="category-list">
                <a href="?categoria=" class="{% if not categoria_selecionada %}active{% endif %}">Todos</a>
                {% for cat in categorias %}
                    <a href="?categoria={{ cat.id }}" class="{% if categoria_selecionada|stringformat:"s" == cat.id|stringformat:"s" %}active{% endif %}">
                        {{ cat.nome }}
                    </a>
                {% endfor %}
            </div>
        </section>


        <section class="popular-events">
            <h2>Eventos</h2>

            <div class="events-container">
            {% for event in eventos %}
            <div class="event-card">
            {% if event.imagem %}
            <img src="{{ event.imagem.url }}" class="event-image" alt="{{ event.titulo }}">
            {% else %}
            <img src="{% static 'img/evento.png' %}" class="event-image" alt="Imagem padrão">
            {% endif %}
            <div class="content">
                {% for cat in event.categorias.all %}
                <span class="tag">{{ cat.nome }}</span>
                {% endfor %}
                <h3>{{ event.titulo }}</h3>
                <p class="date">📅 {{ event.data_hora_inicio|date:'d/m/Y H:i' }}</p>
                <p class="location">📍 {{ event.local.nome }}</p>
                <p class="participants">👥 Capacidade: {{ event.capacidade }}</p>
            </div>
            </div>
                {% empty %}
                <p>Nenhum evento encontrado.</p>
                {% endfor %}
            </div>
        </section>
{% endblock %}